---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Empowering your audience with information.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Our team is a diverse group of marketing experts, each bringing a unique
        blend of creativity, strategy, and industry insight. With a deep passion
        for storytelling and a knack for digital trends, we excel at crafting
        compelling content that resonates with audiences across platforms. Our
        social media specialists are adept at driving engagement through
        targeted campaigns, while our guerrilla marketing pros thrive on
        unconventional strategies that capture attention and leave a lasting
        impact. We also have a dedicated team for building meaningful
        partnerships with key opinion leaders (KOLs) and influencers, ensuring
        your brand connects with the right voices. Our PR and content creators
        are masters at turning ideas into captivating articles and multimedia
        that boost your brand’s visibility. Whether it's hosting interactive
        Twitter Spaces or planning impactful AMAs, our team is committed to
        delivering results that elevate your brand and drive success.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
