---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import social from "assets/social.png";
---

<Layout title="Social Media">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Social Media</Fragment>
      <Fragment slot="desc">Crafting Connections, Driving Engagement.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <svg width="0" height="0">
        <defs>
          <clipPath id="cp" clipPathUnits="objectBoundingBox">
            <path
              d="M0.500, 0.945 L0.994, 0.090 L0.006, 0.090 L0.500, 0.945 L0.500, 0.650 L0.262, 0.238 L0.738, 0.237 L0.500, 0.650z"
            ></path>
          </clipPath>
        </defs>
      </svg>

      <div class="triangle-container">
        <div class="triangle first"></div>
        <div class="triangle second"></div>
      </div>
      <h2 class="font-bold text-3xl text-gray-800">
        Engage, Inspire, Grow Your Brand.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Our social media marketing services are designed to elevate your brand's
        online presence and foster genuine connections with your audience. We
        begin by understanding your brand's unique voice and goals, crafting
        tailored strategies that resonate with your target demographic. From
        creating visually stunning posts to curating compelling content, our
        team ensures your brand stays relevant and engaging across all major
        platforms, including Instagram, Twitter, LinkedIn, and Facebook.
      </p>
      <div class="mt-6 flex flex-col sm:flex-row gap-3">
        <Link
          href="#"
          href="https://x.com"
          target="_blank"
          class="flex gap-1 items-center justify-center"
          rel="noopener">
          <Icon class="text-white w-5 h-5" name="uil:meeting-board" />

          Discuss your social media strategy
        </Link>
        <Link
          href="#"
          href="https://x.com"
          target="_blank"
          class="flex gap-1 items-center justify-center"
          rel="noopener">
          <Icon class="text-white w-5 h-5" name="simple-icons:x" />

          Join us on X
        </Link>
      </div>
    </div>
  </Container>
</Layout>

<style lang="scss">
  .triangle-container {
    position: relative;
    width: 100%;
    height: 25vw;
    max-height: 25vh;
    max-width: 100%;
    display: block;
    margin: auto;
  }
  .triangle {
    // The actual clipping effect
    clip-path: url(#cp);

    // Keep it proportional
    width: 25vw;
    height: 25vw;
    max-height: 25vh;
    max-width: 25vh;

    // Add the styling
    background-size: cover;
    background-blend-mode: screen;

    // Center them
    position: relative;
    top: 25%;
    display: block;
    margin: auto;
  }

  .first {
    background-color: #000;
    background-image: url("https://media.giphy.com/media/I37Yia4fjd5Be/giphy.gif");

    transform: translateX(-15%) translateY(-50%);
  }

  .second {
    background-color: #000;
    background-image: url("https://media1.giphy.com/media/KX5nwoDX97AtPvKBF6/200.gif");

    transform: translateX(15%) translateY(-150%);

    opacity: 0.8;
  }
</style>
