---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import xspaces from "assets/xspaces.jpg";
---

<Layout title="Partnerships">
  <Container>
    <Sectionhead>
      <Fragment slot="title">X Spaces</Fragment>
      <Fragment slot="desc">Engage Live, Amplify Your Voice.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <Picture
        src={xspaces}
        alt="Astronaut in the air"
        widths={[200, 400, 600, 1200]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
        class="rounded-lg w-full"
      />
      <h2 class="font-bold text-3xl text-gray-800">
        Real Conversations, Real Connections.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Our X Spaces hosting services are designed to create dynamic and
        interactive discussions that engage your audience in real-time. We
        specialize in planning, organizing, and moderating live Twitter Spaces,
        turning conversations into powerful opportunities for brand engagement
        and community building.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Our team works closely with you to develop compelling topics, invite
        influential speakers, and promote your X Spaces event to maximize reach
        and participation. From educational panels and Q&A sessions to product
        launches and industry roundtables, we ensure that every session is
        well-structured, engaging, and aligned with your brand’s objectives. We
        also provide post-event analysis to help you measure impact and gather
        insights that inform future strategies.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Whether you're looking to build brand awareness, foster community
        interaction, or showcase your expertise, our X Spaces hosting services
        offer a unique platform to connect with your audience in a meaningful
        and impactful way. Let us help you create conversations that resonate
        and drive your brand forward.
      </p>
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">
          Join us this evening at 5 PM UTC for a dynamic discussion on the
          Influence of a Community in WEB3 Projects<br /><br />Our Head of
          Community and Partnerships <a
            href="https://twitter.com/pakman_media?ref_src=twsrc%5Etfw"
            >@pakman_media</a
          > will be featuring <a
            href="https://twitter.com/Sam_Cubed?ref_src=twsrc%5Etfw"
            >@Sam_Cubed</a
          > from <a href="https://twitter.com/ava_protocol?ref_src=twsrc%5Etfw"
            >@ava_protocol</a
          >, <a href="https://twitter.com/Flavio_leMec?ref_src=twsrc%5Etfw"
            >@Flavio_leMec</a
          > from <a
            href="https://twitter.com/PolimecProtocol?ref_src=twsrc%5Etfw"
            >@PolimecProtocol</a
          >, and <a href="https://twitter.com/IamJulianaC?ref_src=twsrc%5Etfw"
            >@IamJulianaC</a
          > from… <a href="https://t.co/HasjTrA5t5"
            >pic.twitter.com/HasjTrA5t5</a>
        </p>&mdash; Mandala Chain (@MandalaChain) <a
          href="https://twitter.com/MandalaChain/status/1841779582694817929?ref_src=twsrc%5Etfw"
          >October 3, 2024</a>
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"></script>
    </div>
  </Container>
</Layout>
