<footer class="mt-32 mb-0 py-52 main-background">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Pakman Media. All rights reserved.
  </p>
</footer>
<style>
  .main-background {
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: top;
  }
</style>
