---
import { Picture } from "astro:assets";
import heroImage from "assets/abstract.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 order-1 md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      class="rounded-lg max-w-96"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Amplify Influence, Ignite Engagement
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      We specialize in dynamic social media strategies, innovative guerrilla
      marketing, and powerful content creation. From PR articles to influencer
      partnerships, we amplify your brand's voice and engage your audience.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://x.com"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="simple-icons:x" />

        Follow
      </Link>
    </div>
  </div>
  <style>
    .loading:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4, end) 2100ms infinite;
      animation: ellipsis steps(4, end) 2100ms infinite;
      content: "\2026"; /* ascii code for the ellipsis character */
      width: 0px;
    }

    @keyframes ellipsis {
      to {
        width: 4.5rem;
      }
    }

    @-webkit-keyframes ellipsis {
      to {
        width: 4.5rem;
      }
    }
  </style>
</main>
